.line1 {fill:none;stroke:#3399CC}
.line2 {fill:none;stroke:#FF9966}
.line3 {fill:none;stroke:#71A214}
.line4 {fill:none;stroke:#222222}

.dot1 {fill:#3399CC;stroke:black}
.dot2 {fill:#FF9966;stroke:black}
.dot3 {fill:#71A214;stroke:black}
.dot4 {fill:222222;stroke:black}
