ARC{
        temenos.arc.security.ftress.reset.password="false"        
        temenos.arc.security.ftress.cust.attribute.GIVEN.NAMES="FIRSTNAME"
        temenos.arc.security.ftress.cust.attribute.FAMILY.NAME="LASTNAME"
        temenos.arc.security.ftress.cust.attribute.DATE.OF.BIRTH="DOB"
        temenos.arc.security.ftress.cust.attribute.EMAIL.1="ATR_EMAIL"
        temenos.arc.security.ftress.cust.attribute.SMS.1="ATR_MOBILE"
        temenos.arc.security.ftress.user.attribute.t24user="ATR_T24UID"
        temenos.arc.security.ftress.user.attribute.t24pass="ATR_T24PW"
        temenos.arc.security.ftress.user.attribute.arcpass="ATR_CUSTPW"
        temenos.arc.security.ftress.upauth.user="5/J9EfAi86tKW7TyuIClaQ=="
        temenos.arc.security.ftress.upauth.password="u+I6Icw7kFSjVGzea31o3g=="
        temenos.arc.security.authserver="4TRESS"
        temenos.arc.security.ftress.authtype="AT_CUSTPW"
        temenos.arc.security.ftress.authtype.system="AT_SYSLOG"      
        temenos.arc.security.ftressurl.delimeter = "|"
        temenos.arc.security.ftress.donotimpersonate="false"
        temenos.arc.security.authserver.namingurl="jnp://10.94.5.198:2099|jnp://10.44.5.139:1099|jnp://10.44.5.137:1099"
        temenos.arc.security.authserver.namingpackage="org.jboss.naming:org.jnp.interfaces"
        temenos.arc.security.authserver.contextfactory="org.jnp.interfaces.NamingContextFactory"
        temenos.arc.security.channel.otppin="INTERNET.OTPPIN"
        temenos.arc.security.channel.otp="INTERNET.OTP"
        temenos.arc.security.channel.pwmw="INTERNET.PWMW"
        temenos.arc.security.channel.pw="INTERNET.PW"
        temenos.arc.security.ftress.authtype.password="AT_CUSTPW"
        temenos.arc.security.ftress.authtype.pin="AT_CUSTPIN"
        temenos.arc.security.ftress.authtype.device="AT_CUSTOTP"
        temenos.arc.security.ftress.authtype.memword="AT_CUSTMW"
        temenos.arc.security.ftress.authtype.loginmemword="AT_CUSTMW"
        temenos.arc.security.ftress.authtype.signdevice="AT_CUSTOTP"
        temenos.arc.security.ftress.channel="CH_DIRECT"
        temenos.arc.security.charset="UTF-8"
        temenos.arc.security.ftress.domain="DOMAIN1"
        temenos.arc.security.ftress.device.mode="SYNC"
        temenos.arc.security.ftress.userid.length="9"
        temenos.arc.security.ftress.userid.shared="true"
        temenos.arc.security.ftress.password.length="6"  
        temenos.arc.security.t24.password.length="12"
        temenos.arc.security.crypto.keystore.password="keypass"
        temenos.arc.security.crypto.keystore="/infra1/TestBase/TestBase.run/key/test.jceks"
        temenos.arc.security.crypto.key.password="password"
        temenos.arc.security.crypto.key.alias="testKey"
        temenos.arc.security.crypto.class="com.temenos.arc.security.authenticationserver.common.AESCryptographyService"
        temenos.arc.security.authserver.soapurl="http://10.44.5.135:9090"
;
};
