ARC {
	temenos.arc.security.ftress.authtype="AT_CUSTMW"
        temenos.arc.security.ftress.authtype.pin="AT_CUSTPIN"
        temenos.arc.security.ftress.authtype.device="AT_CUSTOTP"
        temenos.arc.security.ftress.isseeded="false"
	temenos.arc.security.ftress.numseeds="0"
	temenos.arc.security.ftress.seeddelimiter=":"
	temenos.arc.security.ftress.channel="CH_WEB"
    	temenos.arc.security.charset="UTF-8"
	temenos.arc.security.ftress.domain="DOMAIN1"
        temenos.arc.security.ftress.deletememword="true"	
     temenos.arc.security.ftressurl.delimeter = "|"
     temenos.arc.security.authserver.namingurl="jnp://10.44.5.135:1099|jnp://10.94.3.11:1099|jnp://10.44.5.137:1099"	
     temenos.arc.security.authserver.namingpackage="org.jboss.naming:org.jnp.interfaces"
	 temenos.arc.security.authserver.contextfactory="org.jnp.interfaces.NamingContextFactory"			 
;
};