ARC {
  com.temenos.arc.security.jaas.ArcLoginModule
    Requisite
    debug="true"
    temenos.arc.security.ftress.userid.length="9"
    temenos.arc.security.ftress.password.length="6"
    temenos.arc.security.t24.password.length="12"    
    temenos.arc.security.ftress.isseeded="false"
    temenos.arc.jaas.delegate="com.temenos.arc.security.authenticationserver.ftress.DeviceAuthenticator"
    temenos.arc.jaas.committer="com.temenos.arc.security.jaas.JaasCommitter"
    temenos.arc.jaas.callback.override=""
    temenos.arc.security.charset="UTF-8"
    temenos.arc.security.ftress.user.attribute.t24user=""
    temenos.arc.security.ftress.user.attribute.t24pass=""
    temenos.arc.security.ftress.channel="CH_WEB"
    temenos.arc.security.ftress.domain="DOMAIN1"
    temenos.arc.security.ftress.authtype="AT_AIOTP"
    temenos.arc.security.ftress.authtype.oob="AT_CUSTOOB"
    temenos.arc.security.ftress.authtype.oobtemplate="OTPAC"
    temenos.arc.security.ftress.device.mode="SYNC"
    temenos.arc.security.ftress.delimiter="|"
    temenos.arc.security.crypto.keystore.password="foo"
    temenos.arc.security.crypto.keystore="C:/T24/Browser/test.jceks"
    temenos.arc.security.crypto.key.password="bar"
    temenos.arc.security.crypto.key.alias="testKey"
    temenos.arc.security.crypto.class="com.temenos.arc.security.authenticationserver.common.AESCryptographyService"    
;
  com.temenos.arc.security.jaas.ArcLoginModule
    Required
    debug="true"
    temenos.arc.jaas.delegate="com.temenos.arc.security.authenticationserver.ftress.JaasUsernamePasswordAuthenticator"
    temenos.arc.jaas.committer="com.temenos.arc.security.authenticationserver.ftress.T24AttributeCommitter"
    temenos.arc.jaas.callback.override=""
    temenos.arc.security.charset="UTF-8"
    temenos.arc.security.ftress.user.attribute.t24user="ATR_T24UID"
    temenos.arc.security.ftress.user.attribute.t24pass="ATR_T24PW"
    temenos.arc.security.ftress.channel="CH_WEB"
    temenos.arc.security.ftress.domain="DOMAIN1"
    temenos.arc.security.ftress.authtype="AT_CUSTPIN"
    temenos.arc.security.ftress.create.session="false"
  ;
  
  
};
