OFS{
temenos.t24browser.security.ofs.defaultApplication="CUSTOMER"
temenos.t24browser.security.ofs.defaultVersion="CLIENT"
temenos.t24browser.security.ofs.defaultTransactionId=""
temenos.t24browser.security.ofs.defaultSuccessPage="/BrowserWeb/html/examples/ofsSuccess.html"
temenos.t24browser.security.ofs.defaultFailurePage="/BrowserWeb/html/examples/ofsFailure.html"
temenos.t24browser.security.ofs.defaultCaptchaFailurePage="/html/captchaError.html"
temenos.t24browser.security.ofs.user="LJ26E7qXkeZowpE4gTbpbg=="
temenos.t24browser.security.ofs.password="1mDFX/tPjJxl+u14kTOvoQ=="
temenos.arc.security.crypto.keystore.password="password"
temenos.arc.security.crypto.keystore="C:/Temp/Encryption/ofs.jceks"
temenos.arc.security.crypto.key.password="password"
temenos.arc.security.crypto.key.alias="ofsKey"
temenos.arc.security.crypto.class="com.temenos.arc.security.authenticationserver.common.AESCryptographyService"
;
};
