ARC {
	temenos.arc.security.authserver="RSA"
	temenos.arc.security.rsa.user.file="c:/T24/Browser/rsa_users.txt"
    temenos.arc.security.charset="UTF-8"
	temenos.arc.security.t24.password.length="8"
	temenos.arc.security.t24.userid.minlength="6"
    temenos.arc.security.crypto.keystore.password="foo"
    temenos.arc.security.crypto.keystore="C:/T24/Browser/test.jceks"
    temenos.arc.security.crypto.key.password="bar"
    temenos.arc.security.crypto.key.alias="testKey"
    temenos.arc.security.crypto.class="com.temenos.arc.security.authenticationserver.common.AESCryptographyService"    
    ;
};
