TEST {	
	# config to login with pin
	temenos.arc.security.ftress.upauth.user="786786786"
	temenos.arc.security.ftress.upauth.password="memData|2/3/em"
	temenos.arc.security.ftress.authtype="AT_CUSTPW"
	temenos.arc.security.ftress.channel="CH_WEB"
	temenos.arc.security.charset="UTF-8"
	temenos.arc.security.ftress.domain="DOMAIN1"
	temenos.arc.jaas.delegate="com.temenos.arc.security.authenticationserver.ftress.JaasUsernamePasswordAuthenticator"	
	temenos.arc.jaas.committer="com.temenos.arc.security.jaas.JaasCommitter"
    temenos.arc.jaas.callback.override=""
    temenos.arc.security.ftress.delimiter="|"
;
	# second login module config 
	temenos.arc.security.ftress.user.attribute.t24pass="ATR_T24PW"
	temenos.arc.security.ftress.user.attribute.t24user="ATR_T24UID"
	temenos.arc.security.ftress.authtype="AT_CUSTMW"
	temenos.arc.security.ftress.channel="CH_WEB"
	temenos.arc.security.charset="UTF-8"
	temenos.arc.security.ftress.domain="DOMAIN1"
	temenos.arc.jaas.delegate="com.temenos.arc.security.authenticationserver.ftress.JaasUsernamePasswordAuthenticator"
	temenos.arc.jaas.committer="com.temenos.arc.security.authenticationserver.ftress.T24AttributeCommitter"
    temenos.arc.jaas.callback.override=""
	temenos.arc.security.ftress.isseeded="true"
	temenos.arc.security.ftress.numseeds="2"
	temenos.arc.security.ftress.seeddelimiter="/"
};