FOOAPPNAME {
  this.should.be.ignored
    AndThis
    debug="true"
    temenos.arc.jaas.delegate="com.temenos.arc.security.authenticationserver.ftress.DeviceAuthenticator"
    temenos.arc.jaas.committer="com.temenos.arc.security.jaas.JaasCommitter"
    temenos.arc.jaas.callback.override=""
    temenos.arc.security.charset="UTF-8"
    temenos.arc.security.ftress.user.attribute.t24user=""
;
};