DUMMY {
	foo
	bar=bar
	;
};

APPNAME {
  this.should.be.ignored
    AndThis
    debug="true"
    temenos.arc.jaas.delegate="com.temenos.arc.security.authenticationserver.ftress.DeviceAuthenticator"
  # this is a comment
    temenos.arc.jaas.committer="com.temenos.arc.security.jaas.JaasCommitter"
    # this is another comment
    temenos.arc.jaas.callback.override=""
    temenos.arc.security.charset="UTF-8"
    temenos.arc.security.ftress.user.attribute.t24user=""
;
  also.should.be.ignored
  AlsoThis
    debug="true"
    temenos.arc.jaas.delegate="com.temenos.arc.security.jaas.SomethingElse"
  # this is a comment
    temenos.arc.jaas.committer="com.temenos.arc.security.jaas.DifferentCommitter"
    # this is another comment
    temenos.arc.jaas.callback.override=""
    temenos.arc.security.charset="UTF-8"
    temenos.arc.security.ftress.user.attribute.t24user="AHA!"
};