TEST {	
	# config to retrieve seeds
	temenos.arc.security.ftress.upauth.user="786786786"
	temenos.arc.security.ftress.authtype="AT_CUSTMW"
	temenos.arc.security.ftress.channel="CH_WEB"
	temenos.arc.security.charset="UTF-8"
	temenos.arc.security.ftress.domain="DOMAIN1"
	temenos.arc.security.ftress.isseeded="true"
	temenos.arc.security.ftress.numseeds="2"
	;
	# config to login with password
	temenos.arc.security.ftress.upauth.user="786786786"
	temenos.arc.security.ftress.upauth.password="memData"
	temenos.arc.security.ftress.authtype="AT_CUSTPW"
	temenos.arc.security.ftress.channel="CH_WEB"
	temenos.arc.security.charset="UTF-8"
	temenos.arc.security.ftress.domain="DOMAIN1"
};