ARC {
    temenos.arc.security.ftress.user.attribute.t24user="ATR_T24UID"
    temenos.arc.security.ftress.user.attribute.t24pass="ATR_T24PW"
    temenos.arc.security.ftress.user.attribute.arcpass="ATR_CUSTPW"
    temenos.arc.security.ftress.upauth.user="5/J9EfAi86tKW7TyuIClaQ=="
    temenos.arc.security.ftress.upauth.password="u+I6Icw7kFSjVGzea31o3g=="
    temenos.arc.security.authserver="4TRESS"
    temenos.arc.security.ftress.authtype="AT_SYSLOG"
    temenos.arc.security.ftress.authtype.password="AT_CUSTPW"
    temenos.arc.security.ftress.authtype.pin="AT_CUSTPIN"
    temenos.arc.security.ftress.authtype.device="AT_AIOTP"
    temenos.arc.security.ftress.device.mode="SYNC"
    temenos.arc.security.ftress.authtype.memword="AT_CUSTMW"
    temenos.arc.security.ftress.channel="CH_DIRECT"
    temenos.arc.security.charset="UTF-8"
    temenos.arc.security.ftress.domain="DOMAIN1"
    temenos.arc.security.ftress.userid.length="9"
    temenos.arc.security.ftress.userid.shared="true"
    temenos.arc.security.ftress.password.length="6"
    temenos.arc.security.t24.password.length="12"
    temenos.arc.security.crypto.keystore.password="foo"
    temenos.arc.security.crypto.keystore="d:/work/test.jceks"
    temenos.arc.security.crypto.key.password="bar"
    temenos.arc.security.crypto.key.alias="testKey"
    temenos.arc.security.crypto.class="com.temenos.arc.security.authenticationserver.common.AESCryptographyService"
;
};