ARC {
    temenos.arc.security.ftress.user.attribute.t24user="ATR_T24UID"
    temenos.arc.security.ftress.user.attribute.t24pass="ATR_T24PW"
    temenos.arc.security.ftress.upauth.user="786786786"
	temenos.arc.security.ftress.upauth.password="2:3:em"
	temenos.arc.security.ftress.authtype="AT_CUSTMW"
	temenos.arc.security.ftress.isseeded="true"
	temenos.arc.security.ftress.numseeds="2"
	temenos.arc.security.ftress.seeddelimiter=":"
	temenos.arc.security.ftress.channel="CH_WEB"
    temenos.arc.security.charset="UTF-8"
	temenos.arc.security.ftress.domain="DOMAIN1"		
	temenos.arc.security.ftress.userid.length="9"
	temenos.arc.security.t24.password.length="12"
    temenos.arc.security.crypto.keystore.password="foo"
    temenos.arc.security.crypto.keystore="d:/work/test.jceks"
    temenos.arc.security.crypto.key.password="bar"
    temenos.arc.security.crypto.key.alias="testKey"
    temenos.arc.security.crypto.class="com.temenos.arc.security.authenticationserver.common.AESCryptographyService"    
    ;
};
