ARC {
  com.temenos.arc.security.jaas.ArcLoginModule
    Requisite
    debug="true"
        temenos.arc.security.ftress.user.attribute.arcpass="ATR_CUSTPW"
        temenos.arc.security.ftress.authtype="AT_CUSTPW"        
        temenos.arc.security.ftress.authtype.password="AT_CUSTPW"
        temenos.arc.security.ftress.authtype.device="AT_CUSTOTP"
        temenos.arc.security.ftress.authtype.signdevice="AT_CUSTOTP"
        temenos.arc.security.ftress.channel="CH_DIRECT"
        temenos.arc.security.ftress.upauth.user="OBdCAqeNFP9bEXAVMdwYhg=="
        temenos.arc.security.ftress.upauth.password="P+OO4lClBbMb0mmkov/vvg=="
        temenos.arc.security.ftress.authtype.system="AT_SYSLOG"
        temenos.arc.security.charset="UTF-8"
        temenos.arc.jaas.delegate="com.temenos.arc.security.authenticationserver.ftress.JaasUsernamePasswordAuthenticator"
        temenos.arc.jaas.committer="com.temenos.arc.security.jaas.JaasCommitter"
        temenos.arc.jaas.callback.override=""
        temenos.arc.security.ftress.device.mode="SYNC"
        temenos.arc.security.ftress.ignoreusercheck="true"
        temenos.arc.security.ftress.minmemwordlength="6"
        temenos.arc.security.ftress.donotimpersonate="false"
        temenos.arc.security.ftress.authtype.oob="AT_CUSTOOB"
        temenos.arc.security.ftress.authtype.oobtemplate="OTPAC"
        temenos.arc.security.ftress.isseeded="false"
        temenos.arc.security.ftress.numseeds="0"
        temenos.arc.security.ftress.seeddelimiter="/"
        temenos.arc.security.ftress.delimiter="|"
        temenos.arc.security.authserver="4TRESS"
        temenos.arc.passwordMemwordpage="/modelbank/unprotected/passwordMemWord.jsp"
        temenos.arc.homepage="/modelbank/unprotected/formlogin.jsp"
        temenos.arc.auth.errorpage="="/modelbank/unprotected/auth_error.jsp"
        temenos.arc.security.ftressurl.delimeter = "|"
        temenos.arc.security.ftress.domain="DOMAIN1"
        temenos.arc.security.authserver.namingurl="jnp://10.94.5.198:2099|jnp://10.44.5.139:1099|jnp://10.44.5.137:1099"
        temenos.arc.security.authserver.namingpackage="org.jboss.naming:org.jnp.interfaces"
        temenos.arc.security.authserver.contextfactory="org.jnp.interfaces.NamingContextFactory"
        temenos.arc.security.crypto.keystore="D:/T24_SECURITY/ARCIB-CONFIG/DEV/arc128.jceks"
        temenos.arc.security.crypto.keystore.password="tem"
        temenos.arc.security.crypto.key.password="nos"
        temenos.arc.security.crypto.key.alias="arcKey"
        temenos.arc.security.crypto.class="com.temenos.arc.security.authenticationserver.common.AESCryptographyService"
;
  com.temenos.arc.security.jaas.ArcLoginModule
    Required
    debug="true"
        temenos.arc.security.ftress.user.attribute.arcpass="ATR_CUSTPW"
        temenos.arc.security.ftress.user.attribute.t24user="ATR_T24UID"
        temenos.arc.security.ftress.user.attribute.t24pass="ATR_T24PW"
        temenos.arc.security.ftress.upauth.user="OBdCAqeNFP9bEXAVMdwYhg=="
        temenos.arc.security.ftress.upauth.password="P+OO4lClBbMb0mmkov/vvg=="
        temenos.arc.security.ftress.authtype.system="AT_SYSLOG"
        temenos.arc.security.ftress.authtype.password="AT_CUSTPW"
        temenos.arc.security.ftress.authtype.device="AT_CUSTOTP"
        temenos.arc.security.ftress.authtype.signdevice="AT_CUSTOTP"
        temenos.arc.security.ftress.authtype.newmemword="AT_CUST2MW"
        temenos.arc.security.ftress.authtype="AT_CUSTMW"
        temenos.arc.security.ftress.channel="CH_WEB"
        temenos.arc.security.charset="UTF-8"
        temenos.arc.security.ftress.device.mode="SYNC"
        temenos.arc.security.authserver="4TRESS"
        temenos.arc.security.ftress.domain="DOMAIN1"
        temenos.arc.security.ftress.enableusercheck="true"
        temenos.arc.jaas.delegate="com.temenos.arc.security.authenticationserver.ftress.JaasUsernamePasswordAuthenticator"
        temenos.arc.jaas.committer="com.temenos.arc.security.authenticationserver.ftress.T24AttributeCommitter"
        temenos.arc.jaas.callback.override=""
        temenos.arc.security.ftress.isseeded="true"
        temenos.arc.security.ftress.numseeds="3"
        temenos.arc.security.ftress.seeddelimiter="/"
        temenos.arc.security.ftress.delimiter="|"
        temenos.arc.security.ftress.create.session="false"
        temenos.arc.security.ftress.donotimpersonate="false"
        temenos.arc.passwordMemwordpage="/modelbank/unprotected/passwordMemWord.jsp"
        temenos.arc.homepage="/modelbank/unprotected/formlogin.jsp"
        temenos.arc.auth.errorpage="/modelbank/unprotected/auth_error.jsp"
        temenos.arc.actividentitypage="/modelbank/unprotected/actividentitypage.jsp"
        temenos.arc.security.authserver.namingurl="jnp://10.94.5.171:1099|jnp://10.44.5.135:1099|jnp://10.44.5.137:1099"
        temenos.arc.security.authserver.namingpackage=org.jboss.naming:org.jnp.interfaces
        temenos.arc.security.authserver.contextfactory=org.jnp.interfaces.NamingContextFactory
        temenos.arc.security.crypto.keystore="C:/ARCIB-CONFIG/R11/arc128.jceks"
        temenos.arc.security.crypto.keystore.password="tem" 
        temenos.arc.security.crypto.key.password="nos" 
        temenos.arc.security.crypto.key.alias="arcKey"
        temenos.arc.security.crypto.class="com.temenos.arc.security.authenticationserver.common.AESCryptographyService"
  ;
};


