ARC {
  com.temenos.arc.security.jaas.ArcLoginModule
    Requisite
    debug="true"
    temenos.arc.jaas.delegate="com.temenos.arc.security.authenticationserver.ftress.JaasUsernamePasswordAuthenticator"
    temenos.arc.jaas.committer="com.temenos.arc.security.jaas.JaasCommitter"
    temenos.arc.jaas.callback.override=""
    temenos.arc.security.charset="UTF-8"
    temenos.arc.security.ftress.user.attribute.t24user=""
    temenos.arc.security.ftress.user.attribute.t24pass=""
    temenos.arc.security.ftress.channel="CH_WEB"
    temenos.arc.security.ftress.domain="DOMAIN1"
    temenos.arc.security.ftress.authtype="AT_CUSTPW"
    temenos.arc.security.ftress.device.mode="SYNC"
    temenos.arc.security.ftress.delimiter="|"
    temenos.arc.security.crypto.keystore.password="foo"
    temenos.arc.security.crypto.keystore="d:/work/test.jceks"
    temenos.arc.security.crypto.key.password="bar"
    temenos.arc.security.crypto.key.alias="testKey"
    temenos.arc.security.crypto.class="com.temenos.arc.security.authenticationserver.common.AESCryptographyService"
;
  com.temenos.arc.security.jaas.ArcLoginModule
    Required
    debug="true"
    temenos.arc.jaas.delegate="com.temenos.arc.security.authenticationserver.ftress.JaasUsernamePasswordAuthenticator"
    temenos.arc.jaas.committer="com.temenos.arc.security.authenticationserver.ftress.T24AttributeCommitter"
    temenos.arc.jaas.callback.override=""
    temenos.arc.security.charset="UTF-8"
    temenos.arc.security.ftress.user.attribute.t24user="ATR_T24UID"
    temenos.arc.security.ftress.user.attribute.t24pass="ATR_T24PW"
    temenos.arc.security.ftress.channel="CH_WEB"
    temenos.arc.security.ftress.domain="DOMAIN1"
    temenos.arc.security.ftress.authtype="AT_CUSTMW"
	temenos.arc.security.ftress.isseeded="true"
	temenos.arc.security.ftress.numseeds="2"
	temenos.arc.security.ftress.seeddelimiter=":"    
    temenos.arc.security.ftress.create.session="false"
  ;
};

